/* ========== Google Fonts ==========*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300;400;500;700;900&display=swap');
/* ========== Google Fonts ==========*/


/* ========== Global Style ==========*/

* {
    margin: 0;
    padding: 0;
}

:root {
    /* Background Color */
    --bg-btn: linear-gradient(180deg, #A4BC46 0%, #85A019 100%);
    --btn-text: #85A019;
    --bg-white: #ffffff;
    --bg-light-white: #F1F1F1;
    --bg-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
    --bg-hero: #FFFBF0;

    /* Text color */
    --Primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Bebas Neue', cursive;
    --text-white: #ffffff;
    --text-black: #3C3C3C;
    --text-warning: #FABE4C;
    --text-gray: #3E3E3E;
    --text-dark-gray: #363958;
}


body {
    font-family: var(--primary-font);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem;
    background: var(--bg-white);
    color: var(--text-black);
    overflow-x: hidden;
}



/* ========== Custom CSS ========== */
a,
a:hover {
    text-decoration: none;
}

p {
    margin: 0;
}

.main-btn {
    background: var(--bg-btn);
    height: 3.25rem;
    width: 10.625rem;
    font-size: 1rem;
    font-weight: 500;
    outline: none;
    border: none;
    border: 0.13rem solid #36395800;
    border-radius: 0.625rem;
    color: var(--text-white);
    transition: all 0.3s ease-in-out;
}

.main-btn:hover {
    color: var(--btn-text);
    border: 0.13rem solid var(--btn-text);
    background: transparent;
    transition: all 0.3s ease-in-out;
    outline: none;
}



/* ============== Header CSS ============ */
#header .navbar {
    background-color: var(--bg-hero);
    z-index: 500;
}

#header .navbar .nav-item .nav-link {
    color: var(--text-black);
    font-family: var(--primary-font);
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5rem 1.75rem;
    text-align: center;
}

#header .navbar .nav-item .nav-link:hover,
#header .navbar .nav-item .nav-link.active {
    color: var(--text-warning);
}

#header .navbar-toggler-icon {
    width: unset;
    height: unset;
}

#header .navbar-toggler:focus {
    box-shadow: none;
}




/* ============= Home CSS =========== */
.home {
    background: var(--bg-hero);
    padding: 11.25rem 0;
}

.home .hero-left h1 {
    font-size: 5rem;
    font-weight: 400;
    line-height: 6rem;
    font-family: var(--secondary-font);
    color: var(--text-warning);
}

.home .hero-left h1 span {
    color: var(--text-dark-gray);
}

.home .hero-left p {
    font-size: 1rem;
    line-height: 1.625rem;
    color: var(--text-gray);
    font-weight: 400;
    width: 80%;
}





/* ============= Product CSS =========== */
.product {
    background-color: var(--bg-white);
    padding-bottom: 5rem;
    overflow-x: hidden;
}

.product h1 {
    font-size: 3rem;
    line-height: 3.625rem;
    color: var(--text-dark-gray);
    font-family: var(--secondary-font);
}

.product .jacket-card {
    background: var(--bg-white);
    border-radius: 1.25rem;
    padding: 1.125rem;
    box-shadow: var(--bg-shadow);
    border: none;
    border-bottom: 1px solid #36395800;
}

.product .jacket-card:hover {
    box-shadow: none;
    border-bottom: 1px solid var(--btn-text);
}

.product .img-box {
    background: #F1F1F1;
    border-radius: 1.25rem;
    padding: 2rem;
}

.product .jacket-card h3 {
    font-size: 1.5rem;
    line-height: 1.75rem;
    color: var(--text-dark-gray);
    font-weight: bold;
    font-family: var(--primary-font);
    padding: 1.0625rem 0 0.8125rem;
}

.product .jacket-card p {
    font-size: 1rem;
    line-height: 1.625rem;
    color: var(--text-gray);
}


.product .jacket-card .price-container h2 {
    font-size: 2.25rem;
    line-height: 2.625rem;
    color: var(--text-warning);
    font-weight: 700;
}





/* ============= Service CSS ============*/
.secvice {
    padding: 3rem 0;
}

.secvice .card {
    background: var(--bg-white);
    border: none;
    border-radius: 1.25rem;
    box-shadow: var(--bg-shadow);
    border-bottom: 1px solid #36395800;
}

.secvice .card:hover {
    box-shadow: none;
    border-bottom: 1px solid var(--btn-text);
}

.secvice .card .img-container {
    padding: 1rem;
    border-radius: 1.25rem;
}

.secvice .card-body h5 {
    font-size: 1.5rem;
    line-height: 1.758rem;
    font-weight: bold;
    font-family: var(--primary-font);
    color: var(--text-dark-gray);
}

.secvice .card-body P {
    font-size: 1rem;
    line-height: 1.625rem;
    color: var(--text-gray);
    width: 95%;
}


/* ============= Contact CSS ============ */
.contact {
    padding: 4rem 0;
    background-color: var(--bg-light-white);
}

.contact h2,
.contact h4 {
    color: var(--text-dark-gray);
}

.contact .info {
    margin-top: 1.5rem;
}

.contact .info li p a {
    font-size: 1rem;
    display: inline-block;
    margin: 0.25rem 0;
    color: var(--text-gray);
    text-decoration: none;
    margin-top: 1rem;
}

.contact .form-group {
    margin-bottom: 1.5rem;
}

.contact .form-control {
    height: 3.75rem;
    padding: 0.375rem 1.875rem;
    border: none;
    font-size: 1rem;
    box-shadow: 0 0.187rem 1.25rem 0 rgb(0 0 0 / 12%);
}

.contact .textarea {
    width: 100%;
    border-radius: 0.25rem;
    padding: 0.75rem 1.875rem;
    border: none;
    font-size: 1rem;
    margin-top: 0.3125rem;
    box-shadow: 0 0.187rem 1.25rem 0 rgb(0 0 0 / 12%);
}

.contact .textarea:focus {
    outline: none;
    border: none;
}





/* =========== Footer CSS ======= */
.copyright {
    background-color: var(--bg-hero);
}

.copyright p,
.copyright a {
    color: var(--text-gray);
    text-decoration: none;
}


#sceollUp {
    position: fixed;
    right: 2%;
    bottom: 3%;
    height: 2.813rem;
    width: 2.5rem;
    border-radius: 0.25rem;
    text-align: center;
    cursor: pointer;
    z-index: 500;
    display: none;
    -webkit-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    background: var(--btn-text);
}

#sceollUp a {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

#sceollUp span {
    line-height: 2.625rem;
    color: var(--bg-white);
    transition: all 0.3s ease-in-out;
}

#sceollUp.scrollActive {
    display: block;
    transition: all 0.3s ease-in-out;
}